*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-card{
  background-color: black;
  color: white;
  height: 500px;
}

.poster{
  display: block;
  height: 100%;
  width: 100%;
}

.movie-info{
  display: none;
}

.my-card:hover .poster {
  display: none;
}

.my-card:hover .movie-info{
  display: block;
}

.empty-state{
  height: calc(100vh - 87px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.423);
}